@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1736px;
    margin: 0 auto;
  }

  .twoXl-container {
    max-width: 1536px;
    margin: 0 auto;
  }

  .Xl-container {
    min-width: 1280px;
    margin: 0 auto;
  }

  .Lg-container {
    min-width: 1024px;
    margin: 0 auto;
  }

  .Mg-container {
    min-width: 768px;
    margin: 0 auto;
  }

  .Sm-container {
    min-width: 640px;
    margin: 0 auto;
  }
}
